dooraccess.json
[{"id":"5cd7b29f.91dddc","type":"tab","label":"Door Access","disabled":false,"info":""},{"id":"d7240a3a.e5e6b8","type":"function","z":"5cd7b29f.91dddc","name":"ID Checker","func":"//msg.payload = JSON.parse(msg.payload);\n\ncontext.Name = \"Hi  \";\ncontext.LED = \"1\";\ncontext.Door = \"You are not authorized\";\n\nswitch(msg.payload){\n    case \"2c72f9eb\":\n         context.Name += \"Hanif MR\";\n        break;\n    case \"32be7eac\":\n         context.Name += \"User\";\n        break;    \n    default:\n         context.Name = \"access denied\";\n        context.LED = \"0\";\n}\n\nif (context.LED == \"1\"){\n    context.LED_Red = \"0\";\n    context.LED_Green = \"1\";\n    context.Door = \"Open the door\";\n    }\nelse{\n    context.LED_Red = \"1\";\n    context.LED_Green = \"0\";  \n    context.Door = \"You are not authorized\";\n}  \n\nvar msg1 ={payload: context.Name};\nvar msg2 ={payload: context.LED_Green};\nvar msg3 ={payload: context.LED_Red};\nvar msg4 ={payload: context.Door};\n\nreturn [msg1,msg2,msg3,msg4];","outputs":4,"noerr":0,"x":250,"y":280,"wires":[["21f61d1a.d940d2","aa410bf4.dfc428","792fe95f.781888"],[],["99902f9d.21dc9","2ac44ee4.b95fa2"],["dfc528be.a09658"]]},{"id":"b96200cd.2106e","type":"inject","z":"5cd7b29f.91dddc","name":"","topic":"","payload":"32be7eac","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":386,"wires":[["f93bcf6d.f9bed"]]},{"id":"7018f23d.4d868c","type":"inject","z":"5cd7b29f.91dddc","name":"","topic":"","payload":"2c72f9eb","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":426,"wires":[["f93bcf6d.f9bed"]]},{"id":"3fda67ee.020908","type":"inject","z":"5cd7b29f.91dddc","name":"","topic":"","payload":"666666","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":466,"wires":[["f93bcf6d.f9bed"]]},{"id":"f93bcf6d.f9bed","type":"mqtt out","z":"5cd7b29f.91dddc","name":"","topic":"RFID/Tag","qos":"2","retain":"false","broker":"900e068f.a555a8","x":390,"y":426,"wires":[]},{"id":"63564d4c.0bb6b4","type":"mqtt in","z":"5cd7b29f.91dddc","name":"","topic":"RFID/Tag","qos":"2","datatype":"auto","broker":"900e068f.a555a8","x":160,"y":166,"wires":[["d7240a3a.e5e6b8","ded44281.fefae"]]},{"id":"349bff5e.b7c4a","type":"ui_text","z":"5cd7b29f.91dddc","group":"7101e30a.ce600c","order":7,"width":"4","height":"1","name":"DoorOpen","label":"","format":"<h0>{{msg.payload}}</h0>","layout":"row-spread","x":670,"y":186,"wires":[]},{"id":"99902f9d.21dc9","type":"function","z":"5cd7b29f.91dddc","name":"Door status","func":"var str = msg.payload;\nswitch(msg.payload){\n    case \"0\":\n         msg =  { payload:\"Open the Door\" }; \n        break;\n    case \"1\":\n         msg =  { payload:\"You are not authorized\" };\n        break;    \n    default:\n    msg =  { payload:\"Scan Your Card\" }; \n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":226,"wires":[["349bff5e.b7c4a","e7150349.31627"]]},{"id":"21f61d1a.d940d2","type":"ui_audio","z":"5cd7b29f.91dddc","name":"","group":"5418131c.4bf72c","voice":"en-US","always":true,"x":480,"y":186,"wires":[]},{"id":"7ac06f85.d142","type":"ui_template","z":"5cd7b29f.91dddc","group":"7101e30a.ce600c","name":"RFID Panel","order":5,"width":"2","height":"1","format":"<html>\n<svg>\n<circle cx=\"20\" cy=\"20\" r=\"18\" style=\"stroke: white; stroke-width: 3; fill: {{msg.payload}};\"/>\n</svg>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":750,"y":226,"wires":[[]]},{"id":"2ac44ee4.b95fa2","type":"function","z":"5cd7b29f.91dddc","name":"dev/10","func":"var str = msg.payload;\nif (str == \"0\"){\n  msg =  { payload:\"lime\" };  \n}\nelse{\n  msg =  { payload:\"red\" }; \n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":286,"wires":[["7ac06f85.d142","31422539.878c0a"]]},{"id":"aa410bf4.dfc428","type":"ui_text","z":"5cd7b29f.91dddc","group":"7101e30a.ce600c","order":3,"width":"5","height":"1","name":"","label":"Staff ID:","format":"<h1>{{msg.payload}}</h1>","layout":"row-spread","x":440,"y":146,"wires":[]},{"id":"dfc528be.a09658","type":"delay","z":"5cd7b29f.91dddc","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":366,"wires":[["72db3c0f.4b7024"]]},{"id":"72db3c0f.4b7024","type":"function","z":"5cd7b29f.91dddc","name":"JSON to Object","func":"context.LED_Red = \"1\";\ncontext.LED_Green = \"0\";    \ncontext.Name = \"\";\nvar msg1 ={payload: context.Name};\nvar msg2 ={payload: context.LED_Green};\nvar msg3 ={payload: context.LED_Red};\n\nreturn [msg1,msg2,msg3];","outputs":3,"noerr":0,"x":560,"y":326,"wires":[[],[],["2ac44ee4.b95fa2"]]},{"id":"31422539.878c0a","type":"debug","z":"5cd7b29f.91dddc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":466,"wires":[]},{"id":"e7150349.31627","type":"debug","z":"5cd7b29f.91dddc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":146,"wires":[]},{"id":"792fe95f.781888","type":"debug","z":"5cd7b29f.91dddc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":106,"wires":[]},{"id":"ded44281.fefae","type":"debug","z":"5cd7b29f.91dddc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":230,"y":106,"wires":[]},{"id":"900e068f.a555a8","type":"mqtt-broker","z":"","name":"airmode.live","broker":"airmode.live","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"udang_stat","birthQos":"2","birthRetain":"false","birthPayload":"msg","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7101e30a.ce600c","type":"ui_group","z":"","name":"Status","tab":"f19db5a9.171088","order":1,"disp":true,"width":"6","collapse":false},{"id":"5418131c.4bf72c","type":"ui_group","z":"","name":"RFID-RC522","tab":"82b5133.e4924f","order":1,"disp":true,"width":"5","collapse":false},{"id":"f19db5a9.171088","type":"ui_tab","z":"","name":"Door Access","icon":"dashboard","order":2},{"id":"82b5133.e4924f","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":8}]